[mysqld]
log-error = /opt/homebrew/var/log/mariadb.log.dev

[mysqld_safe]
log-error=/opt/homebrew/var/log/mariadb.log.dev


# include *.cnf from the config directory
!includedir /opt/homebrew/etc/my.cnf.d